<div>
  <form>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model="vm.search.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Term</span>
      <input type="term" ng-model="vm.search.term">
    </label>
    <label class="item item-input">
      <span class="input-label">Subject Name</span>
      <input type="text" ng-model="vm.search.subjectName">
    </label>
    <label class="item item-input">
      <span class="input-label">Class Number</span>
      <input type="text" ng-model="vm.search.classNum">
    </label>
    <p><button class="btn btn-lg btn-success" ng-click="vm.register()">Register!<span class="glyphicon glyphicon-ok"></span></button></p>
  </form>
</div>
